.footer {
  padding: 0 26px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161E61;
}

.footer > div {
  display: flex;
  align-items: center;
  font-size: 16px;
  color:azure;
}
.footer > p{
    font-size: 12px;
    color:azure;
}

.footer > div > p:first-of-type {
  margin-right: 21px;
}
